.fondo{
  background-color: #eebbbb;
  /*margin: 10px;*/
}
.fondo1{
  background-color:rgba(247, 241, 234, 0.952);
}
.tamano{
  width: auto;
  height: auto;
  text-align: center;
}
.centro{
  text-align: center;
}
.parrafo{
  background-color: #eee7ea69;
  margin: 10px;
  width: auto;
  height: auto;
}
.rubik-bubbles-regular {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .rubik-bubbles-regular {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .container{

    background-color: aqua;
   
   
   }
    .container-fluid{
     /* background-color: bisque;
      /*width: 400px;*/
      /*/height: 150px;*/
}
.row{
    background-color: #eebbbb;
    margin: 5px;
}
.col{
    background-color: violet;
    margin: 5px;
}
.modal{
    background-color: tomato;
}